.sidebar {
  width: 240px;
  background: #0d0d0d;
  min-height: 100vh;
  padding: 20px;
  position: fixed;
}

.sidebar-title {
  color: #ffc107;
  text-align: center;
  margin-bottom: 30px;
  letter-spacing: 2px;
}

.sidebar-link {
  display: block;
  color: #ccc;
  text-decoration: none;
  padding: 12px;
  margin-bottom: 8px;
  border-radius: 8px;
  transition: 0.3s;
}

.sidebar-link:hover,
.sidebar-link.active {
  background: #ffc107;
  color: #000;
}
.logout-btn{
  background-color: #000;
  color: #ffc107;
}
